name: Firebase Functions
on:
  workflow_dispatch:
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install -g firebase-tools
      - run: npm install
        working-directory: "./backend/functions"
      - run: | 
          firebase deploy --only functions --token ${{ secrets.FIREBASE_TOKEN }}
        working-directory: "./backend"
  